# gradle

.gradle/
build/
out/
.idea/
.vscode/
*.iml

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/remappedSrc/com/mod/easyeat/EasyEat.java
/remappedSrc/com/example/quickeatmod/mixin/ExampleMixin.java
